.footer{
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    justify-content: center;
    padding: 0px 10px;
    background-color: #000000;
}

.footer__containeur{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1120px;
    height: 132px;
    justify-content: space-between;
    /* border: 2px rgb(0, 255, 21);
    padding: 10px; */
}

.footer__mention{
    display: flex;
    gap: 24px;
    align-items: center;
    text-align: center;
}

.footer__p{
    color:white;
    font-size: rgb(255, 255, 255);
}

.footer__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.footer__right-logo{
    display: flex;
    text-align: center;
    align-items: center;
}
.right__texte{
    color:white;
    font-size: white;
}

.footer__bottom{
    display: flex;
    gap: 10px;
}